.flex-column {display: flex; flex-direction: column;}
.quantity_block_wrapper .quantity_nal {background-color: #35AF2D; width: 100%; text-align: center; color: white; font-size: 20px; text-transform: uppercase; font-weight: 600; padding: 10px; letter-spacing: 3px;}
body .cost.prices.detail.prices_block .price_group.min {float: left;}
.cost.prices.detail.prices_block .price_group {float: right; width: 50%;}

.cost.prices.detail.prices_block .econom span.prais {font-size: 16px; color: red; font-weight: 700;}
.cost.prices.detail.prices_block .econom span.prais_currency {color: red; font-size: 16px;}
.cost.prices.detail.prices_block .econom {color: black; font-size: 16px;}

.econom span.prais {color: red; font-weight: 700;}
.econom span.prais_currency {color: red;}

.cost.prices.detail.prices_block .price_matrix_wrapper span.price_value {font-size: 38px;}
.cost.prices.detail.prices_block .price_matrix_wrapper span.price_currency {font-weight: 100;}
.cost.prices.detail.prices_block .price_group .price_matrix_wrapper.strike_block span.price_value {font-size: 22px;}
.cost.prices.detail.prices_block .price_group.min .price_matrix_wrapper span.price_value {font-size: 42px;}
.cost.prices.detail.prices_block .price_group.min .price_matrix_wrapper span.price_currency {font-weight: 100;}
.inner-wrapper-sticky .quantity_block_wrapper {margin-top: 12px;}
.lup {width: 156px; position: absolute; top: 0px; left: -180px; background: white; text-align: center; font-size: 16px; z-index: 9; box-shadow: 7px 7px 5px rgb(0 0 0 / 30%);}
.name_img {color: black;}
.lup {display: none;}


.product-info-headnote__rating {
    position: absolute;
    right: 205px;
    top: -5px;
}
.price_matrix_wrapper.strike_block {
    margin-bottom: -7px;
}

span.price_currency {
    margin-left: -3px;
}
.left_block.sticky-sidebar-custom.product-side.main_item_wrapper.js-offers-calc.show_un_props {margin-top: 25px;}
.like_icons.list.static.icons.long {display: flex; flex-direction: column; flex-wrap: nowrap;}
.like_icons.list.static.icons.long > div {margin-bottom: 10px;}
.flexbox.flexbox--row.align-items-center.justify-content-between.flex-wrap {margin-bottom: -100px;}
.product-container .product-detail-gallery__slider {max-width: 700px; max-height: 700px;}
.product-container .product-detail-gallery__item.product-detail-gallery__item--big {height: 100%; width: 100%;}
.product-detail-gallery.swipeignore.left_info {padding: 0px;}
.flexbox.flexbox--row.align-items-center.justify-content-between.flex-wrap .col-auto {z-index: 99;}
.product-detail-gallery__slider.owl-carousel.owl-theme.thmb.product-detail-gallery__slider--vertical.owl-loaded {margin-top: 50px;}

a.razmer_item {
    display: inline-block;

    border: 1px solid #dddddd;
    padding: 2px 10px;
    text-align: center;
    margin: 0px 5px 5px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px;
}
a.razmer_item.activ {
    color: #FFF;
    background: #004ba4;
}
.bolee_color a {
    width: 100%;
    border: 2px solid #004da9;
    text-align: center;
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
}

.bolee_color {
    display: block;
    width: 100%;
}
.bolee_color a:hover {
    background: #004da9;
    color: white;
}   

.form_blok_lnop.red {background: red; color: white;}
.dop_cnop {display: flex; flex-direction: row;}
.claer {
    clear: both;
}
.a_seriya a {
    width: 100%;
    border: 2px solid #004da9;
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
    background: #004da9;
    color: white;
}
span.cnt_item.lazyloaded {
    background-position: center;
}
.a_seriya a:hover {
    width: 100%;
    border: 2px solid #004da9;
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
    background: white;
    color: #004da9;
}

.product-container .product-info {
    padding: 0px 39px 0px;
    margin: 0px 0px 0px;
}

.instr img {
    width: 60px;
}

.instr {
    display: block;
    box-shadow: 0 0 5px 5px rgb(221 221 221);
    width: 240px;
    margin-top: 25px;
}

.instr {
    color: black;
}

.dop_a:hover a {
    color: white;
}

.product-container .buy_block .sku_props .dop_color {
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
}
.product-container .buy_block .sku_props .dop_color:hover a {
    color: white;
}
.zacaz_text {
    color: red;
}
.zacaz_text {
    display: inline-block;
}

.izg {
    display: inline-block;
    margin-left: 20px;
}
.nal_zel {
    display: block;
    color: #2ab200;
    width: 100%;
    font-weight: 700;
}

.buy_block .offer_buy_block.buys_wrapp .btn.btn-default {background: red; border-color: red;}

.bloc_razmer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.bordered.rounded3.st_nal.di_non {
    display: none;
}


.item-stock .stock + .value {
    color: #888888;
}

span.knop_name.lazyloaded {line-height: 1.1;}
.dop_cnop {margin-top: -20px;}

span.store_view.dotted {
    color: #0a509f;
    font-weight: 900;
}

.colle-item.active .img_colle {
    border: 4px solid #004da9;
}

.limiter {max-height: 150px; overflow: hidden; position: relative;}
.limiter .bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(255 217 29 / 0%),
    rgb(255 255 255)90%);
  width: 100%;
  height: 60px;
  opacity: 1;
  transition: 0.3s;
}
.read-more-checker {opacity: 0; position: absolute;}
.read-more-checker:checked ~ .limiter {max-height: none;}
.read-more-checker:checked ~ .limiter .bottom {opacity: 0; transition: 1.3s;}
.read-more-checker ~ .read-more-button:before {content: "Смотреть полное описание";}
.read-more-checker:checked ~ .read-more-button:before {content: "Свернуть полное описание";}
.read-more-button {cursor: pointer; display: block; color: #004da9; text-decoration: underline; text-align: center; margin: 0 auto;}

.hact .char_block.bordered.rounded3.js-scrolled {padding: 0px; border: 0px;}
.hact ul > li {margin: 5px 0px;}

.btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_color {background-color: #004cae; color: white;}
.block_seriya .btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_a {background-color: #004cae; color: white;}
.block_seriya .btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_a a {color: white; font-size: 13px; font-weight: 700;}
.btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_color a {color: white; font-weight: 700; font-size: 13px;}
.btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_a a {font-size: 13px; font-weight: 700;}
.btn.btn-transparent-border-color.type_block.transition_bg.has-ripple.credit_btn.dop_a {background: #dddddd; border-color: #dddddd;}
.counter_wrapp .more_text {
    display: none;
}
td.char_name span {
    color: #555;
    background-color: white;
    /* bottom: -11px; */
    font-weight: normal;
    line-height: 27px;
    font-size: 13px;
    padding-right: 10px;
    position: relative;
}



.section-content-wrapper .catalog_detail .props_list td.char_value span {
    color: #666;
    background-color: white;
    /* bottom: -11px; */
    font-weight: normal;
    line-height: 27px;
    font-size: 13px;
    padding-right: 10px;
    position: relative;
}


.section-content-wrapper {}

div#custom_tab .form_body .form-control:nth-child(5) {
    display: none;
}
.razmer_bloc_tit span {
    color: #333;
}

.razmer_bloc_tit {
    font-size: 0.867em;
}
@media (max-width: 600px){
	.dop_cnop {display: flex; flex-direction: column;}
}


@media (min-width: 1200px){
	.product-detail-gallery__container.product-detail-gallery__container--vertical {min-height: 730px;    max-height: 731px;}
	.main-catalog-wrapper.details a.product-detail-gallery__link.fancy img.product-detail-gallery__picture {max-height: 720px;}
	
	.product-detail-gallery__container.product-detail-gallery__container--vertical .product-detail-gallery__slider.owl-carousel.owl-theme.big.owl-bg-nav.short-nav.square.owl-loaded.owl-drag .owl-stage {display: flex;align-content: center;align-items: center;min-height: 720px;}

}